{% extends "navbar.html" %}
{% load static %}
{% block content %}

<div class="" style="background-image: url('{% static "bg3.jpg" %}'); background-size: cover; background-repeat: no-repeat;
">
<div style="padding: 70px;">
    <div class="pt-4" >
        <a class="btn btn-info" href="{% url 'edit_profile' %}">Edit your profile data</a>
        <a class="btn btn-info" href="{% url "borrow_history" %}">Show borrowed books</a>
        <a class=" btn  btn-info" href="{% url "wish_history" %}">Show Wishlists</a>
    </div>
    <br><br>
    <h4 style="color:white;">Here is your borrowed history:</h4>
        
    <div class="d-flex flex-wrap" style="gap: 20px;padding-top: 80px;">
        
        {% for borrow in borrowed_books %}
        <div class="card" style="width: 18rem; gap: 30px;background-color: antiquewhite;border-radius: 15px;">
            <img src="{{ borrow.book.image.url }}" class="card-img-top" alt="Book image" style="width: 40%;border-radius: 15px;padding-top:10px;margin: auto;">
            <div class="card-body">
                <h5 class="card-title">Book title: {{ borrow.book.title }}</h5>
                <h5 class="">Author: {{ borrow.book.author.name }}</h5>
                <h5 class="">Borrowing Price: {{ borrow.book.borrowing_price }}</h5>
                <h5>Description: {{ borrow.book.description | truncatewords:10 }}</h5>
                <div>
                    
                    {% if borrow.book.is_borrowed %}
                    <a class="btn btn-info text-center" href="{% url 'return' id=borrow.book_id %}">Return</a>
                    {% comment %} <a class="btn btn-info" href="{% url "write_review" borrow.book_id  %}">Write Review</a> {% endcomment %}
                    {% else %}
                    <a class="btn btn-warning text-center" href="#">Returned</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div> 
</div>
    
</div>
{% include "footer.html" %}
{% endblock content %}
